#shop-body{
    background-color: rgb(233, 230, 230);
    .contenedor-busqueda-carrito{
        margin-top: 2%;
        display: flex;
        justify-content: space-between;
        //height: 10vh;
            .buscador{
                width: 80%;
                display: flex;
                    form{
                        display: flex;
                        width: 100%;
                        align-self: center;
                        justify-content: center;
                            input{
                                width: 70%;
                                border-radius: 2px;
                                }
                                        
                        }
                        }
        .carrito{
            width: 20%;
            display: flex;
            //background-color: gray;
            margin: 0 auto;
            justify-content: end;
            
                img{
                    margin-right: 1rem;
                    object-fit: cover;
                    height: 70%;
                    &:hover{
                        transform: rotate(1turn);
                        transition-duration: 1.5s;
                    }
                    }
                }
}

//MAIN
    #main-container{
       
        margin: 5%;
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows:auto;
        grid-template-areas:
        "titulo titulo"
        "categorias contenedor-tarjetas";
        
           /*  h3{
                text-align: center;
                //margin: 3%;
                background-color: rgb(211, 195, 211);
            } */
            aside{
                
                background-color: rgb(226, 222, 226);
                    form{
                        display: flex;
                        flex-direction: column;
                        }
                  }
            .contenedor-tarjetas{
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                        .card{
                            margin: 1%;
                            text-align: center;
                        }

                  }
                }
}



        //Grid áreas

.titulo{
    grid-area: titulo;
}
.categorias{
    grid-area: categorias;
}
.contenedor-tarjetas{
    grid-area: contenedor-tarjetas;
}

